<div class="row" *ngIf="recipe">
    <div class="col col-md-8">
        <h3 class="display-4">{{ recipe.name }}</h3>
        <form #f="ngForm" (ngSubmit)="submit(f)">
            <div class="form-group">
                <input type="text" required ngModel name="name" #name="ngModel" [(ngModel)]="recipe.name" class="form-control" id="name"
                    placeholder="Recipe Name">
            </div>
            <div class="form-group">
                <input type="text" required ngModel name="ingredients" #ingredients="ngModel" [(ngModel)]="recipe.ingredients" class="form-control"
                    id="ingredients" placeholder="Ingredients">
            </div>
            <div class="form-group">
                <input type="text" required ngModel name="imgUrl" #imgUrl="ngModel" [(ngModel)]="recipe.imgUrl" class="form-control" id="imgUrl"
                    placeholder="Recipe Image">
            </div>
            <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div class="col col-md-4">
        <div class="form-group">
            <img src="{{recipe.imgUrl}}" class="img-thumbnail" alt="{{recipe.name}}" />
        </div>
    </div>

</div>